:root {
  --primaryColor: 186, 0, 1; /*rgb(186, 0, 1) #ba0001 Principal*/
  --secondaryColor: 0, 33, 74; /*rgb(0, 33, 74) #00214a Secundario*/
  --thirdColor: 83, 147, 212; /*rgb(83, 147, 212) #5393D4 Tercer Color*/
  
  --black: 13, 13, 13; /*rgb(13, 13, 13)  #0D0D0D*/
  --white: 255, 255, 255; /*rgb(255, 255, 255) #FFFFFF*/
}

/* 
==================
Google fonts

.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



.newsreader-<uniquifier> {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}




==================
*/


/* 
==================
Global Styles
==================
*/

body {
  min-height: 100vh;
  max-width: 100%;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* 
==================
Fonts/Colors
==================
*/

body{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  color: rgb(var(--black));
  background-color: rgb(var(--white));
}

.title{
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.title--big{
    font-size: 36px;
}

.header{
    color: rgb(var(--white));
    font-size: 1rem;
    font-weight: 600;
}

.paragraph{
    text-align: justify;
    line-height: 1.4em;
}

.presentacion{
    color: rgb(var(--white));
}

.cursos{
    color: rgb(var(--white));
}

.vacacional-contact__title{
    font-size: 1.5em;
    font-weight: 800;
}

.footer{
    color: rgb(var(--white));
}


/* 
==================
Layout
==================
*/

/* INICIO Nav menu */

.body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main{
    flex: 1;
}

.logo{
    width: 45px;
    margin: 0.5em 0 0.5em 1em;
}

.nav-menu{
    width: 30%;
    margin-left: 1.8em;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu-item{
    transition: background-color 0.3s ease;
}

.menu-item:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.menu-item--active{
  font-weight: 800;
  border-bottom: 1px solid rgb(var(--white));
}

/* FIN Nav menu */


.header {
    background-color: rgb(var(--primaryColor));
}

.main{
    /* background-color: aqua; */
    margin: 0 auto 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: -4px 0px -4px 0px;
    flex-direction: column;
}

.banner{
    width: 100%;
}

.paragraph{
    text-align: center;
    margin-bottom: 1.5em;
}

.paragraph--center{
    text-align: center;
    margin-bottom: 0;
}

.paragraph--end{
    margin-top: 0;
}

.presentacion{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/background-notas-musicales-grande.png);
    background-repeat: no-repeat;
    background-position: 47% 85%;
    background-size: 80%;
}

.presentacion::before,
.presentacion::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -2;
}

.presentacion__background-img{
    position: absolute;
    left: 15%;
    top: 28%;
    width: 70%;
}

.presentacion::before{
    top:0;
    background-color: rgb(var(--primaryColor));
}

.presentacion::after{
    bottom:0;
    background-color: rgb(var(--white));
}

.title--presentacion{
    margin-top: 1em;
    margin-bottom: 0;
}

.title--presentacion,
.presentacion__paragraph{
    width: 65%;
    text-align: center;
}

.presentacion__paragraph{
    margin-bottom: 1.8em;
}

.presentacion__destacado{
    display: flex;
    width: 70%;
    margin-bottom: 4em;
}

.presentacion__destacado__text{
    background-color: rgb(var(--thirdColor));
    padding: 2.2em;
}

.presentacion__destacado__paragraph{
    text-align: left;
    line-height: 1em;
}

.title--presentacion,
.presentacion__destacado__paragraph,
.cursos-title,
.lista-cursos__curso__title{
        text-shadow: 2px 2px 0 #000;
}

.vacacional-contact__title,
.title--cursos{
        text-shadow: 2px 2px 0 #bcbcbc;
}

.img-recital{
    width: 75%;
}

.cursos{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/background-notas-musicales-pequeño.png);
    background-repeat: no-repeat;
    background-position: 10% 115%;
    background-size: 100%;
}

.cursos::before,
.cursos::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -2;
}

.cursos::before{
    top:0;
    background-color: rgb(var(--secondaryColor));
}

.cursos::after{
    bottom:0;
    background-color: rgb(var(--white));
}

.cursos-title{
    margin: 1.5em 0;
    align-self: center;
}

.cursos__container{
    display: flex;
    justify-content: center;
    gap: 3em;    
    margin-bottom: 3.8em;
}

.cursos__container a{
    width: 27%;
}

.curso{
    background-color: rgb(var(--primaryColor));
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.curso:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    cursor: pointer;
}

.curso__img{
    width: 100%;
    height: 285px;
}

.curso-card__title{
    margin: 0.8em;
    padding-top: 0.2em;
}

.vacacional-contact-container{
    display: flex;
    margin-bottom: 2em;
}

.vacacional-contact__art{
    width: 50%;
}

.vacacional-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1em;
    border-top: 1px solid rgb(var(--secondaryColor));
    border-right: 1px solid rgb(var(--secondaryColor));
    border-bottom: 1px solid rgb(var(--secondaryColor));
}

.vacacional-contact__title{
    text-transform: uppercase;
}

.vacacional-contact__whatsapp--container{
    display: flex;
    justify-content: center;
}

.vacacional-contact__whatsapp{
  transition: transform 0.3s ease;
  width: 45%;
}
.vacacional-contact__whatsapp:hover{
    transform: scale(1.1);
}

.footer{
    width: 100%;
    background-color: rgb(var(--primaryColor));
    display: flex;
    align-items: center;
    justify-content: center; 
}

.footer__contact-numbers{
    margin: 0 1.5em;
}

/* 
==================
WhatsApp float
==================
*/

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.whatsapp-float img {
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}
.whatsapp-float img:hover {
  transform: scale(1.1);
}


/* 
==================
Página cursos
==================
*/

.title--cursos,
.lista-cursos__curso__title{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
}

.title--cursos{
    margin: 1.5em 0;
}

.lista-cursos__curso{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lista-cursos__curso:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    cursor: pointer;
}

.lista-cursos__curso__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(var(--secondaryColor));
    border-right: 1px solid rgb(var(--secondaryColor));
    border-bottom: 1px solid rgb(var(--secondaryColor));
}

.lista-cursos__curso__title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    background-color: rgb(var(--primaryColor));
    color: rgb(var(--white));
    margin: 0;
    text-align: center;
}

.lista-cursos__curso__title--secondarycolor{
    background-color: rgb(var(--secondaryColor));
}

.lista-cursos__curso__title--thirdcolor{
    background-color: rgb(var(--thirdColor));
}

.lista-cursos__curso__subtitle{
    font-weight: 700;
}

.lista-cursos-curso__description{
    margin-top: 0;
    padding: 0 7em;
}

.lista-cursos__curso__img{
    width: 50%;
}

.bold-text{
    font-weight: 700;
}

/* 
==================
Página curso individual
==================
*/

.header-curso__img,
.caract-curso__element__img{
    width: 500px;
}

.header-curso{
    display: flex;
    margin-bottom: 2em;
}

.header-curso__img{
    width: 65%;
}

.header-curso__quote{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 35%;
}

.header-curso__title{
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.4em;
    width:min-content;
    text-indent: -0.5em;
}

.header-curso__subtitle{
    font-size: 1.5em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-weight: 600;
    text-indent: 4em;
}

.curso-intro{
    text-align: justify;

}

.beneficios-curso{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
}

.beneficios-curso__title,
.caract-curso__title,
.profesor-curso__title{
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1.5em;
}

.beneficios-curso__content-container{
    display: flex;
    justify-content: space-evenly;
}

.beneficios-curso__content{
    width: 30%;
}

.beneficios-curso__content__list{
    background-color: rgb(var(--secondaryColor));
    color: rgb(var(--white));
    list-style: disc;
    padding: 3em 2em 3em 3em;
    height: 100%;
}

.beneficios-curso__content__list--thirdcolor{
    background-color: rgb(var(--thirdColor));
}

.caract-curso__element {
  border: 1px solid rgb(var(--secondaryColor));
  position: relative;
  padding-top: 1em;
  margin: 2rem auto;
  width: 70%;
}

.caract-curso__element__title {
  position: absolute;
  top: -1.2rem; /* sobresale del borde */
  left: -1rem;
  background-color: rgb(var(--secondaryColor));
  color: rgb(var(--white));
  padding: 0.7rem 0;
  font-weight: 800;
  width: 50%;
  font-size: 1rem;
  z-index: 2;
  margin: 0;
  text-align: center;
}

.caract-curso__element__title--primarycolor{
    background-color: rgb(var(--primaryColor));
}

.caract-curso__element__title--thirdcolor{
    background-color: rgb(var(--thirdColor));
}

.caract-curso__element__content {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.caract-curso__element__img {
  width: 40%;
  height: fit-content;
}

.caract-curso__element__text {
  text-align: justify;
}

.profesor-curso__img-container{
    background-image: url(../assets/img/background-profesores.png);
    background-repeat: no-repeat;
     background-position: 66% 50%;
    background-size: 78%;
}

.profesor-curso__img{
    width: 40%;
    margin: auto;
    padding-bottom: 4em;
}

.profesor-curso__bio{
    text-align: justify;
    margin-bottom: 2em;
}